@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html,body {
   font-family: "Noto Sans KR", sans-serif;
   height: 100%; 
   margin: 0; 
   padding: 0;
}

#mypage{
   margin: 0 auto;
   width:100%;
   position: static;
   font-family: "Noto Sans KR", sans-serif;
}
#mypage a.bt-share,a.bt-love,a.bt-love_chg:hover{
	text-decoration: none;
	color: #BABABA;
}

#mypage a.bt-love:hover{
	color: #f34;
	text-decoration: none;
}

#mypage a:hover{
	text-decoration: none;
	color: #323232;
}

#mypage .myProfile{
    margin-top: 15px;
    width: 40%;
    border: solid 1px #eee;
    text-align: left;
}

#mypage .pimg img{
   width: 150px;
   height: 150px;
   float: left;
   display: inline-block;
   margin:35px 
}

#mypage .myProfile .myIntro{
   margin:15px;
   text-align: left;
}

#mypage .myProfile .myIntro .proedit{
   background-color: #fff;
   border: 1px solid gray;
   color: gray;
}

#mypage .showMypage{
   margin-top: 20px;
   width:50%;
   min-height: 300px;
}

.mycard {
  background: #fff;
  border-radius: 2px;
  position: relative;
  width: 300px;
  max-height: 400px;
  margin: 5px;
  display: inline-block;
}

.myIncard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#allbox{
	margin: 0 auto;
}

.snip1584 img {
	width: 300px; 
	max-height: 225px;
	vertical-align: top;
  	max-width: 100%;
  	backface-visibility: hidden;
}

.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}

.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1584 h5, .snip1584 h3 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;	
}

.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.snip1584 h5 {
  font-weight: normal;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1584:hover:before,
.snip1584.hover:before{
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h5, .snip1584:hover h3{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h5, .snip1584:hover h3{
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


[class*="mycard"] .footer {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  text-transform: lowercase;
}

[class*="mycard"] .footer p {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: .8rem;
  margin-bottom: 0;
}

[class*="mycard"] a[class*="bt-"] {
  padding-left: 3rem;
  background-image: url('http://jlantunez.com/imgs/spritecard.png');
  background-repeat: no-repeat;
  
}
[class*="mycard"] a.bt-love,a.bt-love_chg:hover {
  background-position: 0 7px;
}

[class*="mycard"] a.bt-love:hover,a.bt-love_chg {
  color: #f34;
  background-position: 0 -25px;
}

[class*="mycard"] a.bt-share {
  background-position: 0 -56px;
}

[class*="mycard"] a.bt-share:hover {
  background-position: 0 -90px;
}

[class*="mycard"] a.bt-comment {
  background-position: 0 -123px;
}

[class*="mycard"] a.bt-comment:hover {
  background-position: 0 -157px;
}


[class*="mycard"] .footer p {
  border-top: 1px solid #eee;
}

[class*="mycard"] .footer p a:hover {
  color: #333;
}

@media (min-width: 1921px) {
  /*== Cards (Sizes) - Reference: figure img:-70,60,50,40,30... === */
  .card-30 figure,
  .card-70 .flex-content {
    width: 30%;
  }
  .card-40 figure,
  .card-60 .flex-content {
    width: 40%;
  }
  .card-50 figure,
  .card-50 .flex-content {
    width: 50%;
  }
  .card-60 figure,
  .card-40 .flex-content {
    width: 60%;
  }
  .card-70 figure,
  .card-30 .flex-content {
    width: 70%;
  }
  [class*="mycard"]:nth-child(odd) figure {
    order: 0
  }
  [class*="mycard"]:nth-child(even) figure {
    order: 1;
  }
  [class*="mycard"]:nth-child(odd) .ribbon-buy {
    left: 3.2rem;
  }
  .flex-content {
    padding: 3.2rem 3.2rem 2.4rem;
  }
}

